<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ5l6k-mRne6J79LlOZPqWo29ypPaC1c8</string>
	<key>GCM_SENDER_ID</key>
	<string>390964652779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reliable.moments</string>
	<key>PROJECT_ID</key>
	<string>moments-191b3</string>
	<key>STORAGE_BUCKET</key>
	<string>moments-191b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390964652779:ios:5d36c4b79ed87dcc702cae</string>
</dict>
</plist>